---
- name: "Reload apache2"
  ansible.builtin.shell:
    cmd: apache2ctl configtest && apache2ctl graceful
  check_mode: false
  register: result
  changed_when: result.rc != 0

- name: "Restart apache2"
  ansible.builtin.service:
    name: "apache2"
    state: "restarted"
