---
- name: "Reload nginx"
  ansible.builtin.shell:
    cmd: nginx -t && nginx -s reload
  check_mode: false
  register: result
  changed_when: result.rc != 0

- name: "Restart nginx"
  ansible.builtin.service:
    name: "nginx"
    state: "restarted"
