{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}

#
# Options kernel modules while using ganeti
#

options drbd minor_count=255 usermode_helper=/bin/true
