---
- name: "Install kernel modules loader for FTP server (Debian >= 8)"
  ansible.builtin.template:
    src: "common/modules_ftpd.conf.j2"
    dest: "/etc/modules-load.d/ftpd.conf"
    owner: "root"
    group: "root"
    mode: "0644"
  notify:
    - "Load kernel modules for ftp server"
  when: ansible_lsb.major_release|int >= 8
  tags:
    - "ftp"
