---
- name: "Importing common FTP server tasks"
  ansible.builtin.import_tasks: "common.yml"
  when: with_ftp|bool
  tags:
    - "ftp"

- name: "Importing Pure-FTP server tasks"
  ansible.builtin.import_tasks: "pure-ftpd.yml"
  when: with_ftp|bool
  tags:
    - "ftp"
    - "pure-ftpd"
