---
- name: "Install pure-ftpd related packages"
  ansible.builtin.apt:
    pkg:
      - "pure-ftpd"
    state: "present"
  tags:
    - "ftp"
    - "pure-ftpd"

- name: "Install pure-ftpd configuration (TLS settings)"
  ansible.builtin.lineinfile:
    dest: "/etc/pure-ftpd/conf/{{ item.dest }}"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    create: true
    mode: "0644"
  with_items:
    - dest: "TLS"
      regexp: "^[0-9]+$"
      line: "{% if ftp_tls_only %}3{% else %}2{% endif %}"
    - dest: "TLSCipherSuite"
      regexp: "^.*$"
      line: >-
        ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:
        ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:
        DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:
        ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:
        ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:
        ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:
        DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:
        !aNULL:!eNULL:!EXPORT:!DES:!RC4:!3DES:!MD5:!PSK:!SSLv3:!SSLv2:!TLSv1
  notify:
    - "Restart pure-ftpd"
  when: with_ftp_tls|bool
  tags:
    - "ftp"
    - "pure-ftpd"

- name: "Create pure-ftpd SSL bundle certificate symlink"
  ansible.builtin.file:
    src: "/etc/ssl/local/certs/{{ ftp_tls_domain }}/bundle.pem"
    path: "/etc/ssl/private/pure-ftpd.pem"
    state: "link"
  notify:
    - "Restart pure-ftpd"
  when: with_ftp_tls|bool and ftp_tls_domain
  tags:
    - "ftp"
    - "pure-ftpd"

- name: "Create pure-ftpd Diffie Hellman Param file symlink"
  ansible.builtin.file:
    src: "/etc/ssl/private/dh2048.pem"
    path: "/etc/ssl/private/pure-ftpd-dhparams.pem"
    state: "link"
  notify:
    - "Restart pure-ftpd"
  when: with_ftp_tls|bool
  tags:
    - "ftp"
    - "pure-ftpd"

- name: "Install pure-ftpd configuration"
  ansible.builtin.lineinfile:
    dest: "/etc/pure-ftpd/conf/{{ item.dest }}"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    create: true
    mode: "0644"
  with_items:
    - dest: "BrokenClientsCompatibility"
      regexp: "^(yes|no)"
      line: "yes"
    - dest: "ChrootEveryone"
      regexp: "^(yes|no)"
      line: "yes"
    - dest: "DontResolve"
      regexp: "^(yes|no)"
      line: "yes"
    - dest: "NoAnonymous"
      regexp: "^(yes|no)"
      line: "yes"
    - dest: "NoChmod"
      regexp: "^(yes|no)"
      line: "yes"
    - dest: "PAMAuthentication"
      regexp: "^(yes|no)"
      line: "yes"
    - dest: "VerboseLog"
      regexp: "^(yes|no)"
      line: "no"
    - dest: "MinUID"
      regexp: "^[0-9]+$"
      line: "34" # Debian's uid(backup) = 34
    - dest: "PassivePortRange"
      regexp: "^[0-9]+ [0-9]+$"
      line: "64000 65000"
  notify:
    - "Restart pure-ftpd"
  tags:
    - "ftp"
    - "pure-ftpd"

- name: "Enable pure-ftpd internal DB"
  ansible.builtin.file:
    src: "/etc/pure-ftpd/conf/PureDB"
    path: "/etc/pure-ftpd/auth/80puredb"
    state: "link"
  notify:
    - "Restart pure-ftpd"
  tags:
    - "ftp"
    - "pure-ftpd"

- name: "Clean up pure-ftpd internal DB"
  ansible.builtin.raw: pure-pw list 2>/dev/null | sed -r 's/^(\S+)\s.*$/\1/' | while read u ; do pure-pw userdel "${u}" ; done
  changed_when: false
  tags:
    - "ftp"
    - "pure-ftpd"

- name: "Create FTP accounts home directory"
  ansible.builtin.file:
    path: "{{ item.home }}"
    owner: "{{ item.uid }}"
    group: "{{ item.gid }}"
    mode: "{% if item.perm is defined %}{{ item.perm }}{% else %}0755{% endif %}"
    state: "directory"
  with_items: "{{ ftp_accounts }}"
  when: ftp_accounts|length > 0 and (item.create_home is not defined or (item.create_home is defined and item.create_home))
  tags:
    - "ftp"
    - "pure-ftpd"

- name: "Add FTP accounts in pure-ftpd"
  ansible.builtin.raw: printf "{{ item.password }}\n{{ item.password }}\n" | pure-pw useradd "{{ item.user }}" -d "{{ item.home }}" -u "{{ item.uid }}" -g "{{
    item.gid }}"
  with_items: "{{ ftp_accounts }}"
  changed_when: false
  when: with_ftp|bool and ftp_accounts|length > 0
  tags:
    - "ftp"
    - "pure-ftpd"

- name: "Rebuild pure-ftpd internal DB"
  ansible.builtin.raw: pure-pw mkdb 2>/dev/null
  changed_when: false
  tags:
    - "ftp"
    - "pure-ftpd"

- name: "Ensure pure-ftpd is running"
  ansible.builtin.service:
    name: "pure-ftpd"
    state: "started"
  tags:
    - "ftp"
    - "pure-ftpd"
