{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog() }}
{% endif -%}
[{{ postfix_external_smtp_host }}]:{{ postfix_external_smtp_port }} {{ postfix_external_smtp_username }}:{{ postfix_external_smtp_password }}
