{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
{% if postfix_external_smtp_credentials %}
{% for credential in postfix_external_smtp_credentials %}
{{ credential.email }} {{ credential.username }}:{{ credential.password }}
{% endfor %}
{% endif %}
