{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog() }}
{% endif -%}
wanadoo.fr      slowsmtp:
wanadoo.com     slowsmtp:
orange.fr       slowsmtp:
orange.com      slowsmtp:
laposte.net     slowsmtp:
