{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
wanadoo.fr      slowsmtp:
wanadoo.com     slowsmtp:
orange.fr       slowsmtp:
orange.com      slowsmtp:
laposte.net     slowsmtp:
