{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog() }}
{% endif -%}
# Nginx vhost for phppgadmin

server {
    listen {%if phppgadmin_vhostip %}{{ phppgadmin_vhostip }}:{% endif %}{{ phppgadmin_vhostport }};

    server_name {{ phppgadmin_vhostname }};

    access_log  /var/log/nginx/pma.access.log;
    error_log   /var/log/nginx/pma.error.log;

    root /usr/share/phppgadmin;
    index index.php;
    try_files $uri $uri/ /index.php;

{% if http_auth_phppgadmin %}
    auth_basic "Restricted Access";
    auth_basic_user_file /etc/nginx/auth_admin;
{% endif %}

    client_max_body_size 32m;

    location ~ \.php(/|$) {
        include fastcgi_pass_fpm;
    }
}
