{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog() }}
{% endif -%}
# Nginx vhost for phpmyadmin

server {
    listen {%if phpmyadmin_vhostip %}{{ phpmyadmin_vhostip }}:{% endif %}{{ phpmyadmin_vhostport }};

    server_name {{ phpmyadmin_vhostname }};

    access_log  /var/log/nginx/pma.access.log;
    error_log   /var/log/nginx/pma.error.log;

    root /usr/share/phpmyadmin;
    index index.php;
    try_files $uri $uri/ /index.php;

{% if http_auth_phpmyadmin %}
    auth_basic "Restricted Access";
    auth_basic_user_file /etc/nginx/auth_admin;
{% endif %}

    client_max_body_size 128m;

    location ~ \.php(/|$) {
        include fastcgi_pass_fpm;
        fastcgi_param PHP_ADMIN_VALUE "max_execution_time=240\nupload_max_filesize=128M\npost_max_size=128M";
    }
}
