{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
# Nginx Self vhost

server {
    listen {% if selfvhost_vhostip %}{{ selfvhost_vhostip }}:{% endif %}{{ selfvhost_vhostport }}{% if selfvhost_isdefault %} default_server{% endif %};
{% if selfvhost_vhostip6 %}
    listen {% if selfvhost_vhostip6 %}{{ selfvhost_vhostip6 }}:{% endif %}{{ selfvhost_vhostport }}{% if selfvhost_isdefault %} default_server{% endif %};
{% endif %}

    server_name {{ selfvhost_vhostname }};

    access_log  /var/log/nginx/self.access.log main;
    error_log   /var/log/nginx/self.error.log;

{% if selfvhost_ssl %}
    include letsencrypt;
{% endif %}

{% if selfvhost_ssl and ssl_certs_auto_installed.stdout_lines is defined and selfvhost_vhostname in ssl_certs_auto_installed.stdout_lines %}
    location / {
        return 301 https://{{ selfvhost_vhostname }}$request_uri;
    }
{% else %}
    root /var/www;
    index index.html;
    try_files $uri $uri/ /index.html;
{% endif %}
}
{% if selfvhost_ssl and ssl_certs_auto_installed.stdout_lines is defined and selfvhost_vhostname in ssl_certs_auto_installed.stdout_lines %}

server {
    listen {% if selfvhost_vhostip %}{{ selfvhost_vhostip }}:{% endif %}{{ selfvhost_vhostport_ssl }}{% if selfvhost_isdefault %} default_server{% endif %} ssl;
{% if with_http3 %}
    listen {% if selfvhost_vhostip %}{{ selfvhost_vhostip }}:{% endif %}{{ selfvhost_vhostport_ssl }}{% if selfvhost_isdefault %} default_server{% endif %} quic{% if selfvhost_isdefault %} reuseport{% endif %};
{% endif %}
{% if selfvhost_vhostip6 %}
    listen {% if selfvhost_vhostip6 %}{{ selfvhost_vhostip6 }}:{% endif %}{{ selfvhost_vhostport_ssl }}{% if selfvhost_isdefault %} default_server{% endif %} ssl;
{% if with_http3 %}
    listen {% if selfvhost_vhostip6 %}{{ selfvhost_vhostip6 }}:{% endif %}{{ selfvhost_vhostport_ssl }}{% if selfvhost_isdefault %} default_server{% endif %} quic{% if selfvhost_isdefault %} reuseport{% endif %};
{% endif %}
{% endif %}
{% if with_http3 %}
    http2 on;
    http3 on;
{% endif %}

    server_name {{ selfvhost_vhostname }};

    include vhost_ssl_auto-{{ selfvhost_vhostname }};

    access_log  /var/log/nginx/self.access.log main;
    error_log   /var/log/nginx/self.error.log;

{% if with_http3 %}
    add_header Alt-Svc 'h3=":$server_port"; ma=3600;';
{% endif %}

    root /var/www;
    index index.html;
    try_files $uri $uri/ /index.html;
}
{% endif %}
