ssl_certificate /var/lib/dehydrated/certs/{{ item.split(' ')[0] }}/fullchain.pem;
ssl_certificate_key /var/lib/dehydrated/certs/{{ item.split(' ')[0] }}/privkey.pem;
ssl_trusted_certificate /var/lib/dehydrated/certs/{{ item.split(' ')[0] }}/chain.pem;
