{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}

include /etc/nginx/vhost_expires;
include /etc/nginx/vhost_cache-fd;
include /etc/nginx/vhost_protect-files;
include /etc/nginx/vhost_security;
