{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
#
# Protect hidden files and directories
#

location ~* (?:^|/)\.(?!well-known) {
    return 404;
}

location ~* (?:\.(?:bak|config|sql|fla|psd|ini|log|sh|inc|swp|dist)|~)$ {
    return 404;
}

location ~* /(?:composer\.(?:lock|json)|docker-compose\.yml|Dockerfile)$ {
    return 404;
}
