ssl_certificate /var/lib/dehydrated/certs/{{ item }}/fullchain.pem;
ssl_certificate_key /var/lib/dehydrated/certs/{{ item }}/privkey.pem;
ssl_trusted_certificate /var/lib/dehydrated/certs/{{ item }}/chain.pem;
