---
- name: "Importing Xen tasks"
  ansible.builtin.import_tasks: "xen.yml"
  when: with_xen|bool
  tags:
    - "hypervisor"
    - "xen"

- name: "Importing Ganeti tasks"
  ansible.builtin.import_tasks: "ganeti.yml"
  when: with_ganeti|bool
  tags:
    - "hypervisor"
    - "ganeti"
