---
- name: "Install Rsync daemon related packages"
  ansible.builtin.apt:
    pkg:
      - "rsync"
    state: "present"
  tags:
    - "rsyncd"

- name: "Create Rsync daemon configuration directory"
  ansible.builtin.file:
    path: "/etc/rsync.d"
    owner: "root"
    group: "root"
    mode: "0755"
    state: "directory"
  tags:
    - "rsyncd"

- name: "Install Rsync daemon configuration"
  ansible.builtin.template:
    src: "templates/rsyncd.conf.j2"
    dest: "/etc/rsyncd.conf"
    owner: "root"
    group: "root"
    mode: "0644"
  notify:
    - "Restart Rsync Daemon"
  tags:
    - "rsyncd"

- name: "Ensure Rsync daemon is running"
  ansible.builtin.service:
    name: "rsync"
    state: "started"
  tags:
    - "rsyncd"
