{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog() }}
{% endif -%}

#
# Common aliases
#

mailer-daemon:  postmaster
postmaster:     root
nobody:         root
webmaster:      root
www-data:       root
abuse:          root
noc:            root
security:       root
logcheck:       root
clamav:         root
monit:          root

{% if mail_aliases is defined %}
#
# Custom aliases
#
{% for user in mail_aliases %}
{% if mail_aliases[user][:1] == '|' %}
{{ user }}:  "{{ mail_aliases[user] }}"
{% else %}
{{ user }}:  {{ mail_aliases[user] }}
{% endif %}
{% endfor %}
{% endif %}

#
# root alias
#
{% if admins_emails is defined %}
root:           {{ admins_emails | join(', ') }}
{% endif %}
