{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog() }}
{% endif -%}

mailer-daemon:  postmaster
postmaster:     root
nobody:         root
webmaster:      root
www-data:       root
abuse:          root
noc:            root
security:       root
logcheck:       root
clamav:         root
monit:          root

{% if admins_emails is defined %}
root:           {{ admins_emails | join(', ') }}
{% endif %}
