{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
{% if with_dnscache|bool %}
nameserver 127.0.0.1
{% endif %}
{% if nameservers is defined %}
{% for nameserver in nameservers %}
nameserver {{ nameserver }}
{% endfor %}
{% endif %}
