{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog('//') }}
{% endif -%}

APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Unattended-Upgrade "1";
Unattended-Upgrade::Mail "root";
//Unattended-Upgrade::MailOnlyOnError "true";

// Automatically upgrade packages from these origin patterns
Unattended-Upgrade::Origins-Pattern {
    "o=Debian,a=squeeze-lts";
//  "origin=Debian,archive=stable,label=Debian-Security";
//  "origin=Debian,archive=oldstable,label=Debian-Security";
{% if auto_upgrade_additional_patterns %}
{% for pattern in auto_upgrade_additional_patterns %}
    "{{ pattern }}";
{% endfor %}
{% endif %}
};
