{% if ansible_controlled is defined and ansible_controlled != "" %}
//
// {{ ansible_controlled }}
//
{% endif %}

APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Unattended-Upgrade "1";
Unattended-Upgrade::Mail "root";
//Unattended-Upgrade::MailOnlyOnError "true";
