{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
deb http://archive.debian.org/debian wheezy main contrib non-free
{% if not with_apt_backports %}#{% endif %}deb http://archive.debian.org/debian wheezy-backports main contrib non-free
{% if not with_apt_backports %}#{% endif %}deb http://archive.debian.org/debian wheezy-backports-sloppy main contrib non-free
