{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
deb {{ debian_mirror }}/debian sid main contrib non-free
deb-src {{ debian_mirror }}/debian sid main contrib non-free

deb {{ debian_mirror }}/debian experimental main contrib non-free
deb-src {{ debian_mirror }}/debian experimental main contrib non-free
