{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog() }}
{% endif -%}
deb {{ debian_mirror }} wheezy main contrib non-free
#deb-src {{ debian_mirror }} wheezy main contrib non-free

deb {{ debian_mirror }} wheezy-updates main contrib non-free
#deb-src {{ debian_mirror }} wheezy-updates main contrib non-free

deb http://security.debian.org/ wheezy/updates main contrib non-free
#deb-src http://security.debian.org/ wheezy/updates main contrib non-free

deb {{ debian_mirror }} wheezy-backports main contrib non-free
#deb-src {{ debian_mirror }} wheezy-backports main contrib non-free
