{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog() }}
{% endif -%}
deb {{ debian_mirror }}/debian buster main contrib non-free
#deb-src {{ debian_mirror }}/debian buster main contrib non-free

deb http://deb.debian.org/debian-security buster/updates main contrib non-free
#deb-src http://deb.debian.org/debian-security buster/updates main contrib non-free

deb {{ debian_mirror }}/debian buster-updates main contrib non-free
#deb-src {{ debian_mirror }}/debian buster-updates main contrib non-free

#deb {{ debian_mirror }}/debian buster-backports main contrib non-free
#deb-src {{ debian_mirror }}/debian/ buster-backports main contrib non-free

#deb {{ debian_mirror }}/debian buster-backports-sloppy main contrib non-free
#deb-src {{ debian_mirror }}/debian/ buster-backports-sloppy main contrib non-free
