{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
deb {{ debian_mirror }}/debian jessie main contrib non-free
#deb-src {{ debian_mirror }}/debian jessie main contrib non-free

deb http://deb.debian.org/debian-security jessie/updates main contrib non-free
#deb-src http://deb.debian.org/debian-security jessie/updates main contrib non-free

deb {{ debian_mirror }}/debian jessie-updates main contrib non-free
#deb-src {{ debian_mirror }}/debian jessie-updates main contrib non-free

#deb {{ debian_mirror }}/debian jessie-backports main contrib non-free
#deb-src {{ debian_mirror }}/debian jessie-backports main contrib non-free

#deb {{ debian_mirror }}/debian jessie-backports-sloppy main contrib non-free
#deb-src {{ debian_mirror }}/debian jessie-backports-sloppy main contrib non-free
