{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
deb https://archive.debian.org/debian buster main contrib non-free
deb https://archive.debian.org/debian-security buster/updates main contrib non-free
deb https://archive.debian.org/debian buster-updates main contrib non-free
{% if not with_apt_backports %}#{% endif %}deb https://archive.debian.org/debian buster-backports main contrib non-free
{% if not with_apt_backports %}#{% endif %}deb https://archive.debian.org/debian buster-backports-sloppy main contrib non-free
