{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog() }}
{% endif -%}
<IfModule proxy_fcgi_module>
    <FilesMatch ".+\.ph(p[3457]?|t|tml)$">
    {% if ansible_lsb.major_release|int >= 9 %}
        SetHandler "proxy:unix:/run/php/php{{ php_version }}-fpm-pool-www0.sock|fcgi://localhost"
    {% else %}
        SetHandler "proxy:unix:/var/run/php5-fpm-pool-www0.sock|fcgi://localhost"
    {% endif %}
    </FilesMatch>
    <FilesMatch ".+\.phps$">
        <IfVersion >= 2.4>
            Require all denied
        </IfVersion>
        <IfVersion < 2.4>
            Deny From All
        </IfVersion>
    </FilesMatch>
    # Deny access to files without filename (e.g. '.php')
    <FilesMatch "^\.ph(p[3457]?|t|tml|ps)$">
        <IfVersion >= 2.4>
            Require all denied
        </IfVersion>
        <IfVersion < 2.4>
            Deny From All
        </IfVersion>
    </FilesMatch>
</IfModule>
