---
- name: "Install mon packages"
  ansible.builtin.apt:
    pkg: "mon"
    state: "present"
  tags:
    - "monitoring"
    - "mon"

- name: "Create need directory for mon configuration"
  ansible.builtin.file:
    path: "/etc/mon/mon.d"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"
  tags:
    - "monitoring"
    - "mon"

- name: "Install mon configuration"
  ansible.builtin.template:
    src: "mon/{{ ansible_facts['hostname'] }}.conf.j2"
    dest: "/etc/mon/mon.cf"
    owner: "root"
    group: "root"
    mode: "0644"
  notify:
    - "Restart mon"
  tags:
    - "monitoring"
    - "mon"

- name: "Install mon (default) configuration"
  ansible.builtin.template:
    src: "mon/default.j2"
    dest: "/etc/default/mon"
    owner: "root"
    group: "root"
    mode: "0644"
  notify:
    - "Restart mon"
  tags:
    - "monitoring"
    - "mon"

- name: "Install custom mon plugins"
  ansible.builtin.copy:
    src: "mon/{{ item }}.monitor"
    dest: "/etc/mon/mon.d/{{ item }}.monitor"
    owner: "root"
    group: "root"
    mode: "0755"
  with_items:
    - "https"
    - "imaps"
    - "dns"
  notify:
    - "Restart mon"
  tags:
    - "monitoring"
    - "mon"

- name: "Install mon plugins"
  ansible.builtin.file:
    src: "/usr/lib/mon/mon.d/{{ item }}.monitor"
    path: "/etc/mon/mon.d/{{ item }}.monitor"
    state: "link"
  with_items:
    - "fping"
    - "http"
    - "smtp"
    - "imap"
    - "tcp"
  notify:
    - "Restart mon"
  tags:
    - "monitoring"
    - "mon"

- name: "Ensure mon is running"
  ansible.builtin.service:
    name: "mon"
    state: "started"
  tags:
    - "monitoring"
    - "mon"
