{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
$FileCreateMode 0644
:msg, contains, "PHP" /var/log/php/php-errors.log
# Reset mode to the default: 0640
$FileCreateMode 0640
