{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
#
# Redis history settings

servers = {{ rspamd_redis_history_servers }};
expire = {{ rspamd_redis_history_expire }};
nrows = {{ rspamd_redis_history_nrows }};

