# Routines to use
use = ["x-spamd-bar", "x-spam-level", "x-spam-status", "authentication-results"];

# Enables x-spam, x-spamd-result, x-rspamd-server and x-rspamd-queue-id
extended_spam_headers = true;

# Set false to always add headers for local IPs (default true)
skip_local = false;

# Set false to always add headers for authenticated users (default true)
skip_authenticated = false;
