{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
#
# fpm default file for php5-fpm init script
#
DAEMON_ARGS="--fpm-config /etc/php5/fpm/php-fpm.conf --define error_log=syslog"
