{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
/var/log/apache2/*.log {
    daily
    missingok
    rotate {% if webserver_logs_maxdays is defined %}{{ webserver_logs_maxdays }}{% else %}1000{% endif +%}
    dateext
    dateyesterday
    compress
{% if webserver_logs_compress_bin is defined %}
    compresscmd {{ webserver_logs_compress_bin}}
{% endif %}
{% if webserver_logs_uncompress_bin is defined %}
    uncompresscmd {{ webserver_logs_uncompress_bin}}
{% endif %}
{% if webserver_logs_compress_opts is defined %}
    compressoptions {{ webserver_logs_compress_opts}}
{% endif %}
    delaycompress
    notifempty
    create 0640 www-data adm
    sharedscripts
    postrotate
        if /etc/init.d/apache2 status > /dev/null ; then \
            /etc/init.d/apache2 reload > /dev/null; \
        fi;
    endscript
    prerotate
        if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
            run-parts /etc/logrotate.d/httpd-prerotate; \
        fi; \
    endscript
}
