{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}

/var/log/php/*.log
{
    rotate 12
    daily
    dateext
    dateyesterday
    missingok
    notifempty
    delaycompress
    compress
}
