{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
{% if zabbix_plugins_config.discovery.ssl is defined %}
{% for key in zabbix_plugins_config.discovery.ssl %}
{{ key }}:
    uri: '{{ zabbix_plugins_config.discovery.ssl[key]['uri'] }}'
{% endfor %}
{% endif %}
