{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog() }}
{% endif -%}
# Apache vhost for phppgadmin

<VirtualHost {%if phppgadmin_vhostip %}{{ phppgadmin_vhostip }}{% else %}*{% endif %}:{{ phppgadmin_vhostport }}>
    ServerName {{ phppgadmin_vhostname }}

    DocumentRoot /usr/share/phppgadmin
    DirectoryIndex index.php

{% if http_auth_phppgadmin %}
    <Location />
        AuthType basic
        AuthName "Restricted Access"
        AuthUserFile /etc/apache2/auth_admin
        Require valid-user
    </Location>
{% endif %}

    <Directory /usr/share/phppgadmin>
        Require all granted
    </Directory>

    <IfModule mod_php5.c>
        php_admin_value max_execution_time 240
        php_admin_value upload_max_filesize 128M
        php_admin_value post_max_size 128M
    </IfModule>

    <IfModule php7_module>
        php_admin_value max_execution_time 240
        php_admin_value upload_max_filesize 128M
        php_admin_value post_max_size 128M
    </IfModule>

{% if with_fpm %}
    Include conf-available/fpm-pool.conf
{% endif %}

    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/pga.access.log combined
    ErrorLog ${APACHE_LOG_DIR}/pga.error.log
</VirtualHost>
