{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
# Apache vhost for phpmyadmin

<VirtualHost {%if phpmyadmin_vhostip %}{{ phpmyadmin_vhostip }}{% else %}*{% endif %}:{%if phpmyadmin_vhostport %}{{ phpmyadmin_vhostport }}{% else %}80{% endif %}>
    ServerName {{ phpmyadmin_vhostname }}

    Include conf-available/letsencrypt.conf

{% if phpmyadmin_ssl and ssl_certs_auto_installed.stdout_lines is defined and phpmyadmin_vhostname in ssl_certs_auto_installed.stdout_lines %}
    RedirectMatch 301 ^(?!/\.well-known/acme-challenge/).* https://{{ phpmyadmin_vhostname }}$0
{% else %}
    DocumentRoot /usr/share/phpmyadmin
    DirectoryIndex index.php

{% if phpmyadmin_http_auth %}
    <Location />
        AuthType basic
        AuthName "Restricted Access"
        AuthUserFile /etc/apache2/auth_admin
        <RequireAny>
{% if phpmyadmin_http_whitelist_ip|length > 0 %}
            Require ip {{ phpmyadmin_http_whitelist_ip | join(' ')  }}
{% endif %}
            Require valid-user
        </RequireAny>
    </Location>
{% endif %}

    Include /etc/phpmyadmin/apache.conf

    <Directory /usr/share/phpmyadmin>
        <IfModule mod_php5.c>
            php_admin_value max_execution_time 240
            php_admin_value upload_max_filesize 128M
            php_admin_value post_max_size 128M
            php_admin_value max_input_vars 10000
        </IfModule>

        <IfModule php7_module>
            php_admin_value max_execution_time 240
            php_admin_value upload_max_filesize 128M
            php_admin_value post_max_size 128M
            php_admin_value max_input_vars 10000
        </IfModule>
    </Directory>

{% if with_fpm|bool %}
    Include conf-available/fpm-pool.conf
{% endif %}

    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/pma.access.log combined
    ErrorLog ${APACHE_LOG_DIR}/pma.error.log
{% endif %}
</VirtualHost>
{% if phpmyadmin_ssl and ssl_certs_auto_installed.stdout_lines is defined and phpmyadmin_vhostname in ssl_certs_auto_installed.stdout_lines %}

<VirtualHost {%if phpmyadmin_vhostip %}{{ phpmyadmin_vhostip }}{% else %}*{% endif %}:{%if phpmyadmin_vhostport %}{{ phpmyadmin_vhostport }}{% else %}443{% endif %}>
    ServerName {{ phpmyadmin_vhostname }}

    <IfModule http2_module>
        Protocols h2 http/1.1
    </IfModule>

    Include vhost_ssl_auto-{{ phpmyadmin_vhostname }}.conf

    DocumentRoot /usr/share/phpmyadmin
    DirectoryIndex index.php

{% if phpmyadmin_http_auth %}
    <Location />
        AuthType basic
        AuthName "Restricted Access"
        AuthUserFile /etc/apache2/auth_admin
        <RequireAny>
{% if phpmyadmin_http_whitelist_ip|length > 0 %}
            Require ip {{ phpmyadmin_http_whitelist_ip | join(' ')  }}
{% endif %}
            Require valid-user
        </RequireAny>
    </Location>
{% endif %}

    Include /etc/phpmyadmin/apache.conf

    <Directory /usr/share/phpmyadmin>
        <IfModule mod_php5.c>
            php_admin_value max_execution_time 240
            php_admin_value upload_max_filesize 128M
            php_admin_value post_max_size 128M
            php_admin_value max_input_vars 10000
        </IfModule>

        <IfModule php7_module>
            php_admin_value max_execution_time 240
            php_admin_value upload_max_filesize 128M
            php_admin_value post_max_size 128M
            php_admin_value max_input_vars 10000
        </IfModule>
    </Directory>

{% if with_fpm|bool %}
    Include conf-available/fpm-pool.conf
{% endif %}

    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/pma.access.log combined
    ErrorLog ${APACHE_LOG_DIR}/pma.error.log
</VirtualHost>
{% endif %}
