{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog() }}
{% endif -%}
# Apache vhost for phpmyadmin

<VirtualHost {%if phpmyadmin_vhostip %}{{ phpmyadmin_vhostip }}{% else %}*{% endif %}:{{ phpmyadmin_vhostport }}>
    ServerName {{ phpmyadmin_vhostname }}

    DocumentRoot /usr/share/phpmyadmin
    DirectoryIndex index.php

{% if http_auth_phpmyadmin %}
    <Location />
        AuthType basic
        AuthName "Restricted Access"
        AuthUserFile /etc/apache2/auth_admin
        Require valid-user
    </Location>
{% endif %}

    Include /etc/phpmyadmin/apache.conf

    <IfModule mod_php5.c>
        php_admin_value max_execution_time 240
        php_admin_value upload_max_filesize 128M
        php_admin_value post_max_size 128M
    </IfModule>

    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/pma.access.log combined
    ErrorLog ${APACHE_LOG_DIR}/pma.error.log

</VirtualHost>
