SSLEngine On
SSLCertificateFile /var/lib/dehydrated/certs/{{ item }}/cert.pem
SSLCertificateKeyFile /var/lib/dehydrated/certs/{{ item }}/privkey.pem
SSLCertificateChainFile /var/lib/dehydrated/certs/{{ item }}/chain.pem
