SSLEngine On
SSLCertificateFile /var/lib/dehydrated/certs/{{ item.split(' ')[0] }}/cert.pem
SSLCertificateKeyFile /var/lib/dehydrated/certs/{{ item.split(' ')[0] }}/privkey.pem
SSLCertificateChainFile /var/lib/dehydrated/certs/{{ item.split(' ')[0] }}/chain.pem
