{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog() }}
{% endif -%}
# Nginx vhost for munin master

server {
    server_name {{ munin_master_vhostname }};

    access_log  /var/log/nginx/munin.access.log;
    error_log   /var/log/nginx/munin.error.log;

    location / {
{% if with_munin_http_auth %}
        auth_basic "Restricted Access";
        auth_basic_user_file /etc/nginx/auth_admin;
{% endif %}
        root /var/cache/munin/www/;
        break;
    }
}
