---
- name: "Reconfigure unattended-upgrades"
  # noqa yaml[line-length]
  ansible.builtin.raw: rm -f /etc/apt/apt.conf.d/20auto-upgrades* && UCF_FORCE_CONFFMISS=1 UCF_FORCE_CONFFNEW=1 dpkg-reconfigure --frontend noninteractive unattended-upgrades
  register: common_security_reconfigure_unattendedupgrades
  changed_when: common_security_reconfigure_unattendedupgrades.rc != 0

- name: "Reconfigure rkhunter"
  ansible.builtin.raw: rm -f /etc/default/rkhunter* && UCF_FORCE_CONFFMISS=1 UCF_FORCE_CONFFNEW=1 dpkg-reconfigure --frontend noninteractive rkhunter
  register: common_security_reconfigure_rkhunter
  changed_when: common_security_reconfigure_rkhunter.rc != 0

- name: "Remount /proc"
  ansible.posix.mount:
    path: "/proc"
    state: "remounted"
