{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
#
# fastcgi configuration for Nginx and PHP-FPM
#

include fastcgi_pass_fpm_common;
{% if fpm_pools is defined %}
{% for pool in fpm_pools %}
{% if fpm_pools[pool].default is defined and fpm_pools[pool].default %}
fastcgi_pass    fpm{% if fpm_pools[pool].version is not defined %}{{ php_versions|first() }}{% else %}{{ fpm_pools[pool].version }}{% endif %}-{{ pool }};
{% endif %}
{% endfor %}
{% else %}
fastcgi_pass    fpm{{ php_versions|first() }}-{{ fpm_pool_name }};
{% endif %}
