{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}

{% for php_version in php_versions %}
{% set version = php_version|float -%}
{% for pool in fpm_pools %}
{% if fpm_pools[pool].count is not defined %}
{% set count = 1 %}
{% else %}
{% set count = fpm_pools[pool].count %}
{% endif %}
{% if fpm_pools[pool].version is not defined or (fpm_pools[pool].version is defined and fpm_pools[pool].version == php_version) %}
upstream fpm{{ php_version|replace('_', '') }}-{{ pool }} {
{% for num in range(0, count, 1) %}
    server unix:/run/php/php{% if version >= 5.6 %}{{ version }}{% else %}5{% endif %}-fpm-pool-{{ pool }}{{ num }}.sock;
{% endfor %}
}
{% endif %}
{% endfor %}
{% endfor %}
