{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}

/var/log/syslog
/var/log/daemon.log
/var/log/kern.log
/var/log/user.log
/var/log/lpr.log
/var/log/cron.log
/var/log/debug
/var/log/messages
{
    rotate 200
    daily
    dateext
    dateyesterday
    missingok
    notifempty
    delaycompress
    compress
    postrotate
{% if ansible_facts['lsb']['codename'] == 'lenny' or ansible_facts['lsb']['codename'] == 'squeeze' %}
        invoke-rc.d rsyslog reload > /dev/null
{% elif ansible_facts['lsb']['codename'] == 'jessie' or ansible_facts['lsb']['codename'] == 'stretch' %}
        invoke-rc.d rsyslog rotate > /dev/null
{% else %}
        /usr/lib/rsyslog/rsyslog-rotate
{% endif %}
    endscript
}

/var/log/auth.log
/var/log/mail.info
/var/log/mail.warn
/var/log/mail.err
/var/log/mail.log
{
    rotate 1000
    daily
    dateext
    dateyesterday
    missingok
    notifempty
    compress
    delaycompress
    sharedscripts
    postrotate
{% if ansible_facts['lsb']['codename'] == 'lenny' or ansible_facts['lsb']['codename'] == 'squeeze' %}
        invoke-rc.d rsyslog reload > /dev/null
{% elif ansible_facts['lsb']['codename'] == 'jessie' or ansible_facts['lsb']['codename'] == 'stretch' %}
        invoke-rc.d rsyslog rotate > /dev/null
{% else %}
        /usr/lib/rsyslog/rsyslog-rotate
{% endif %}
    endscript
}
