{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
#
# Local rules to score SPAM patterns in email headers
#
{% for rule in rspamd_multimap_rules_headers_spammy %}
{{ rule.pattern }} {{ rspamd_multimap_prefix }}{{ rule.symbol }}:{{ rule.score }}
{% endfor %}
