---
- name: "Get architecture using dpkg"
  ansible.builtin.command: dpkg --print-architecture
  register: dpkg_architecture
  changed_when: false
  check_mode: false
  tags:
    - "firewall"

- name: "Install firewall package (ferm)"
  ansible.builtin.apt:
    pkg:
      - "linux-image-{{ dpkg_architecture.stdout }}"
      - "ferm"
    state: "present"
  tags:
    - "firewall"

- name: "Install firewall configuration (ferm.conf)"
  ansible.builtin.template:
    src: "ferm/ferm.conf.j2"
    dest: "/etc/ferm/ferm.conf"
    owner: "root"
    group: "root"
    mode: "0644"
  notify:
    - "Apply firewall rules (ferm)"
  tags:
    - "firewall"
    - "firewall-rules"

- name: "Rely on iptables-legacy for firewall configuration (Debian >= 10)"
  community.general.alternatives:
    name: "iptables"
    path: "/usr/sbin/iptables-legacy"
  when: ansible_facts['lsb']['major_release']|int >= 10
  notify:
    - "Apply firewall rules (ferm)"
  tags:
    - "firewall"
    - "firewall-rules"
