---
- name: "Install smartmontools package"
  ansible.builtin.apt:
    pkg:
      - "smartmontools"
    state: "present"
  tags:
    - "smartd"

- name: "Install smartd configuration"
  ansible.builtin.template:
    src: "smartd/smartd.conf.j2"
    dest: "/etc/smartd.conf"
    owner: "root"
    group: "root"
    mode: "0644"
  notify:
    - "Restart smartmontools"
  tags:
    - "smartd"

- name: "Ensure smartmontools is running"
  ansible.builtin.service:
    name: "smartmontools"
    state: "started"
  tags:
    - "smartd"
