---
- name: "Install ssh packages"
  ansible.builtin.apt:
    pkg:
      - "openssh-server"
      - "openssh-client"
    state: "present"
  when: with_ssh|bool
  tags:
    - "ssh"

- name: "Install sshd configuration (Debian <= 8)"
  ansible.builtin.template:
    src: "ssh/sshd_config.legacy.j2"
    dest: "/etc/ssh/sshd_config"
    owner: "root"
    group: "root"
    mode: "0644"
  notify:
    - Restart ssh
  when: with_ssh|bool and ansible_lsb.major_release|int <= 8
  tags:
    - "ssh"

- name: "Install sshd configuration (9 <= Debian <= 10)"
  ansible.builtin.template:
    src: "ssh/sshd_config.j2"
    dest: "/etc/ssh/sshd_config"
    owner: "root"
    group: "root"
    mode: "0644"
  notify:
    - Restart ssh
  when: with_ssh|bool and ansible_lsb.major_release|int >= 9 and ansible_lsb.major_release|int <= 10
  tags:
    - "ssh"

- name: "Install sshd default configuration (11 <= Debian <= 12)"
  ansible.builtin.template:
    src: "ssh/sshd_config.{{ ansible_lsb.codename }}.j2"
    dest: "/etc/ssh/sshd_config"
    owner: "root"
    group: "root"
    mode: "0644"
  notify:
    - Restart ssh
  when: with_ssh|bool and ansible_lsb.major_release|int >= 11 and ansible_lsb.major_release|int <= 12
  tags:
    - "ssh"

- name: "Install sshd configuration overrides (Debian >= 11)"
  ansible.builtin.template:
    src: "ssh/sshd_config.overrides.j2"
    dest: "/etc/ssh/sshd_config.d/local.conf"
    owner: "root"
    group: "root"
    mode: "0644"
  notify:
    - Restart ssh
  when: with_ssh|bool and ansible_lsb.major_release|int >= 11
  tags:
    - "ssh"

- name: "Ensure ssh is running"
  ansible.builtin.service:
    name: "ssh"
    state: "started"
  when: with_ssh|bool
  tags:
    - "ssh"
