{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
127.0.0.1
::1
{% if dkim_internal_hosts is defined %}
{% for host in dkim_internal_hosts %}
{{ host }}
{% endfor %}
{% endif %}
