{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
{% for domain in dkim_domains %}
{{ dkim_selector }}._domainkey.{{ domain }} {{ domain }}:{{ dkim_selector }}:/etc/opendkim/{{ domain }}_{{ dkim_selector }}.pem
{% endfor %}
