{% if ansible_prolog -%}
{% from 'templates/ansible/prolog.j2' import prolog with context %}
{{ prolog() }}
{% endif -%}
{% for domain in dkim_domains %}
*@{{ domain }} {{ dkim_selector }}._domainkey.{{ domain }}
{% endfor %}
