{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
{% for domain in dkim_domains %}
*@{{ domain }} {{ dkim_selector }}._domainkey.{{ domain }}
{% endfor %}
