---
- name: "Importing MySQL/MariaDB tasks"
  ansible.builtin.include_tasks: mysql.yml
  when: with_mysql|bool or with_mariadb|bool
  tags:
    - "mysql"
    - "sql"

- name: "Importing PostgreSQL tasks"
  ansible.builtin.include_tasks: postgresql.yml
  when: with_postgresql|bool
  tags:
    - "postgresql"
    - "sql"
