---
- name: "Install PostgreSQL server related packages"
  ansible.builtin.apt:
    pkg:
      - "postgresql"
      - "postgresql-client"
    state: "present"
  tags:
    - "postgresql"
    - "sql"

- name: "Install AutoPostgreSQLBackup package"
  ansible.builtin.apt:
    pkg:
      - "autopostgresqlbackup"
    state: "present"
  when: with_postgresql_backup|bool
  tags:
    - "postgresql"
    - "sql"

- name: "Ensure PostgreSQL server is running"
  ansible.builtin.service:
    name: postgresql
    state: started
  when: not ansible_check_mode
  tags:
    - "postgresql"
    - "sql"
