- name: 'Install PostgreSQL server related packages'
  apt:
    pkg:
      - 'postgresql'
      - 'postgresql-client'
    state: 'present'
  tags:
    - 'postgresql'
    - 'sql'

- name: 'Install AutoPostgreSQLBackup package'
  apt:
    pkg:
      - 'autopostgresqlbackup'
    state: 'present'
  when: with_postgresql_backup|bool
  tags:
    - 'postgresql'
    - 'sql'

- name: 'Ensure PostgreSQL server is running'
  service:
    name: postgresql
    state: started
  when: not ansible_check_mode
  tags:
    - 'postgresql'
    - 'sql'

# vim: ft=yaml.ansible
