{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}
#
# sudo configuration for local admins
#

# Debian apt configuration
%operator ALL=NOPASSWD: /usr/bin/apt-get update, /usr/bin/apt-get upgrade
