---
- name: "Load kernel modules for ftp server"
  ansible.builtin.raw: egrep -v  '^(\s*#|$)' /etc/modules-load.d/ftpd.conf | xargs --no-run-if-empty --max-args 1 modprobe
  register: result
  changed_when: result.rc != 0
