---
- name: "Install upstream keyring package for Ondrej Sury PHP packages"
  ansible.builtin.apt:
    deb: "https://packages.sury.org/debsuryorg-archive-keyring.deb"
  when: with_php|bool and with_php_sury|bool and 'debsuryorg-archive-keyring' not in ansible_facts.packages
  tags:
    - "web"
    - "php"

- name: "Install upstream apt repository for Ondrej Sury PHP packages"
  when: with_php|bool and with_php_sury|bool
  tags:
    - "web"
    - "php"

  block:
    - name: "Remove upstream apt repository for Ondrej Sury PHP packages (old format)"
      ansible.builtin.apt_repository:
        repo: "deb https://packages.sury.org/php/ {{ ansible_facts['lsb']['codename'] }} main"
        filename: "php-sury"
        state: "absent"
    - name: "Add upstream apt repository for Ondrej Sury PHP packages (new format)"
      ansible.builtin.apt_repository:
        repo: "deb [signed-by=/usr/share/keyrings/deb.sury.org-php.gpg] https://packages.sury.org/php/ {{ ansible_facts['lsb']['codename'] }} main"
        filename: "php-sury"
        state: "present"
- name: "Install common PHP dependencies PHP5"
  ansible.builtin.apt:
    pkg:
      - "php5-cli"
      - "php5-curl"
      - "php5-gd"
      - "php5-imagick"
      - "php5-intl"
      - "php-soap"
      - "php5-mcrypt"
      - "php-mime-type"
      - "php5-pgsql"
      - "php5-sqlite"
      - "php-apc"
    state: "present"
  when: with_php|bool and item|float <= 5.0
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: 'Install common PHP dependencies for PHP({{ php_versions | join(", ") }}) >= 5.6'
  ansible.builtin.apt:
    pkg:
      - "php{{ item }}-cli"
      - "php{{ item }}-curl"
      - "php{{ item }}-gd"
      - "php{{ item }}-intl"
      - "php{{ item }}-mbstring"
      - "php{{ item }}-mysql"
      - "php{{ item }}-opcache"
      - "php{{ item }}-pgsql"
      - "php{{ item }}-soap"
      - "php{{ item }}-sqlite3"
      - "php{{ item }}-xml"
      - "php{{ item }}-zip"
      - "php{{ item }}-bcmath"
    state: "present"
  when: with_php|bool and item|float >= 5.6
  with_items: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: 'Install common PHP dependencies for PHP({{ php_versions | join(", ") }}) >= 5.6 and PHP({{ php_versions | join(", ") }}) <= 7.4'
  ansible.builtin.apt:
    pkg:
      - "php{{ item }}-json"
    state: "present"
  when: with_php|bool and item|float >= 5.6 and item|float <= 7.4
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: 'Install common PHP dependencies for 5.6 <= PHP({{ php_versions | join(", ") }}) < 7.2'
  ansible.builtin.apt:
    pkg:
      - "php{{ item }}-mcrypt"
    state: "present"
  when: with_php|bool and item|float >= 5.6 and item|float < 7.2
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: 'Install common PHP dependencies for 5.6 <= PHP({{ php_versions | join(", ") }}) <= 7.4'
  ansible.builtin.apt:
    pkg:
      - "php{{ item }}-apcu"
    state: "present"
  when: with_php|bool and item|float >= 5.6 and item|float <= 7.4 and with_php_sury|bool
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: 'Install common PHP dependencies for 5.6 <= PHP({{ php_versions | join(", ") }}) <= 7.4'
  ansible.builtin.apt:
    pkg:
      - "php-apcu"
    state: "present"
  when: with_php|bool and item|float >= 5.6 and item|float <= 7.4 and not with_php_sury|bool
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: 'Install common PHP dependencies for PHP({{ php_versions | join(", ") }}) >= 8.1'
  ansible.builtin.apt:
    pkg:
      - "php{{ item }}-imagick"
    state: "present"
  when: with_php|bool and item|float >= 8.1
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: 'Install common PHP dependencies for PHP({{ php_versions | join(", ") }}) >= 8.0'
  ansible.builtin.apt:
    pkg:
      - "php{{ item }}-apcu"
    state: "present"
  when: with_php|bool and item|float >= 8.0
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: "Create PHP log directory"
  ansible.builtin.file:
    path: "/var/log/php"
    state: directory
    owner: "root"
    group: "root"
    mode: "0755"
  when: with_php|bool
  tags:
    - "web"
    - "php"

- name: "Install PHP configuration for syslog"
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "root"
    group: "root"
    mode: "0644"
  with_items:
    - src: "rsyslog/php-errors.conf.j2"
      dest: "/etc/rsyslog.d/php-errors.conf"
    - src: "logrotate/php-errors.j2"
      dest: "/etc/logrotate.d/php-errors"
  notify:
    - "Reload rsyslog for php"
  when: with_fpm|bool
  tags:
    - "web"
    - "php"

- name: "Install local PHP configuration overrides for PHP5 cli"
  ansible.builtin.template:
    src: "php/php-config-cli.ini.j2"
    dest: "/etc/php5/cli/conf.d/99-local-config.ini"
    owner: "root"
    group: "root"
    mode: "0644"
  when: with_php|bool and item|float <= 5.0
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: 'Install local PHP configuration overrides for PHP ({{ php_versions | join(", ") }}) cli'
  ansible.builtin.template:
    src: "php/php-config-cli.ini.j2"
    dest: "/etc/php/{{ item }}/cli/conf.d/99-local-config.ini"
    owner: "root"
    group: "root"
    mode: "0644"
  when: with_php|bool and item|float >= 5.6
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: "Install Apache2 module for PHP5"
  ansible.builtin.apt:
    pkg:
      - "libapache2-mod-php5"
    state: "present"
  notify:
    - "Reload apache2"
  when: with_modphp5|bool
  tags:
    - "web"
    - "php"

- name: "Install Apache2 module for PHP ({{ php_versions | first if php_versions|length > 0 }})"
  ansible.builtin.apt:
    pkg:
      - "libapache2-mod-php{{ php_versions | first }}"
    state: "present"
  notify:
    - "Reload apache2"
  when: with_modphp|bool and php_versions|length > 0
  tags:
    - "web"
    - "php"

- name: "Configure Apache2 modules for PHP-FPM {{ php_versions | first if php_versions|length > 0 }}"
  ansible.builtin.shell: a2dismod php{{ php_versions | first }} mpm_prefork ; a2enmod mpm_event proxy_fcgi
  changed_when: false
  when: with_fpm|bool and not with_modphp|bool and with_apache2|bool
  notify:
    - "Reload apache2"
  tags:
    - "web"
    - "php"

- name: "Configure Apache2 modules for ModPHP ({{ php_versions | first if php_versions|length > 0 }})"
  ansible.builtin.shell: a2dismod mpm_event ; a2enmod mpm_prefork php{{ php_versions | first }}
  changed_when: false
  when: with_modphp|bool and with_apache2|bool
  notify:
    - "Reload apache2"
  tags:
    - "web"
    - "php"

- name: "Install local PHP5 configuration"
  ansible.builtin.template:
    src: "php/php-config-web.ini.j2"
    dest: "/etc/php5/conf.d/99-local-config.ini"
    owner: "root"
    group: "root"
    mode: "0644"
  notify:
    - "Reload apache2"
  when: with_modphp5|bool and item|float <= 5.0
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: "Install local PHP5 configuration for Apache 2"
  ansible.builtin.template:
    src: "php/php-config-web.ini.j2"
    dest: "/etc/php5/apache2/conf.d/99-local-config.ini"
    owner: "root"
    group: "root"
    mode: "0644"
  notify:
    - "Reload apache2"
  when: with_modphp5|bool and item|float <= 5.0
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: 'Create PHP ({{ php_versions | join(", ") }}) directories for Apache 2'
  ansible.builtin.file:
    path: "/etc/php/{{ item }}/apache2/conf.d"
    state: directory
    owner: "root"
    group: "root"
    mode: "0755"
  when: with_modphp|bool and item|float >= 5.6
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: 'Install local PHP ({{ php_versions | join(", ") }}) configuration for Apache 2'
  ansible.builtin.template:
    src: "php/php-config-web.ini.j2"
    dest: "/etc/php/{{ item }}/apache2/conf.d/99-local-config.ini"
    owner: "root"
    group: "root"
    mode: "0644"
  when: with_modphp|bool and item|float >= 5.6
  loop: "{{ php_versions }}"
  notify:
    - "Reload apache2"
  tags:
    - "web"
    - "php"

- name: "Create system checks directory /etc/phpsyscheck"
  ansible.builtin.file:
    path: "/etc/phpsyscheck"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"
  when: with_phpsyscheck|bool
  tags:
    - "web"
    - "php"

- name: "Install phpinfo system check"
  ansible.builtin.template:
    src: "php/phpinfo.php"
    dest: "/etc/phpsyscheck/index.php"
    owner: "root"
    group: "root"
    mode: "0644"
  when: with_phpsyscheck|bool
  tags:
    - "web"
    - "php"

- name: "Install php-apc system check"
  ansible.builtin.template:
    src: "php/apc.php"
    dest: "/etc/phpsyscheck/apc.php"
    owner: "root"
    group: "root"
    mode: "0644"
  when: with_phpsyscheck|bool and with_php_apc|bool
  tags:
    - "web"
    - "php"

- name: "Install MySQL extension for PHP5 - native driver"
  ansible.builtin.apt:
    pkg:
      - "php5-mysqlnd"
    state: "present"
  when: not with_php_mysql_legacy|bool and item|float <= 5.0
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: "Install MySQL extension for PHP5 (old driver)"
  ansible.builtin.apt:
    pkg: "php5-mysql"
    state: "present"
  when: with_php_mysql_legacy|bool and item|float <= 5.0
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: "Install PHPMyAdmin"
  ansible.builtin.apt:
    pkg:
      - "phpmyadmin"
    state: "present"
  when: with_phpmyadmin|bool
  tags:
    - "web"
    - "php"

- name: "Install PHPPgAdmin"
  ansible.builtin.apt:
    pkg:
      - "phppgadmin"
    state: "present"
  when: with_phppgadmin|bool
  tags:
    - "web"
    - "php"

- name: "Install FPM for PHP5"
  ansible.builtin.apt:
    pkg:
      - "php5-fpm"
    state: "present"
  when: with_fpm|bool and item|float <= 5.0
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: 'Install FPM for PHP ({{ php_versions | join(", ") }})'
  ansible.builtin.apt:
    pkg:
      - "php{{ item }}-fpm"
    state: "present"
  when: with_fpm|bool and item|float >= 5.6
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: "Configure FPM for PHP5"
  ansible.builtin.lineinfile:
    dest: "/etc/php5/fpm/php-fpm.conf"
    regexp: "^{{ item.1.key }}\\s*=.*$"
    line: "{{ item.1.key }} = {{ item.1.value }}"
    insertafter: "^;{{ item.1.key }}"
  with_nested:
    - "{{ php_versions }}"
    - - { key: "error_log", value: "syslog" }
      - { key: "log_level", value: "warning" }
      - { key: "emergency_restart_threshold", value: "100" }
      - { key: "emergency_restart_interval", value: "5s" }
      - { key: "rlimit_files", value: "262144" }
      - { key: "events.mechanism", value: "epoll" }
      - { key: "include", value: "/etc/php5/fpm/pool.d/local-pool.cnf" }
  notify:
    - "Reload FPM for PHP5"
  when: with_fpm|bool and with_fpm_config|bool and item.0|float <= 5.0
  tags:
    - "web"
    - "php"

- name: 'Configure FPM for PHP ({{ php_versions | join(", ") }})'
  ansible.builtin.lineinfile:
    dest: "/etc/php/{{ item.0 }}/fpm/php-fpm.conf"
    regexp: "^{{ item.1.key }}\\s*=.*$"
    line: '{{ item.1.key }} = {{ item.1.value|replace("$PHP_VERSION$", item.0) }}'
    insertafter: "^;{{ item.1.key }}"
  when: with_fpm|bool and with_fpm_config|bool
  register: php_versions_processed
  with_nested:
    - "{{ php_versions }}"
    - - { key: "error_log", value: "syslog" }
      - { key: "log_level", value: "warning" }
      - { key: "emergency_restart_threshold", value: "100" }
      - { key: "emergency_restart_interval", value: "5s" }
      - { key: "rlimit_files", value: "262144" }
      - { key: "events.mechanism", value: "epoll" }
      - { key: "include", value: "/etc/php/$PHP_VERSION$/fpm/pool.d/{{ fpm_pools_include_pattern }}" }
  notify:
    - "Reload FPM for PHP"
  tags:
    - "web"
    - "php"

- name: "Adding default configuration to FPM pools"
  ansible.builtin.set_fact:
    fpm_pools: "{{ fpm_pools_defaults | combine(fpm_pools) }}"
  when: fpm_pools_defaults is defined

- name: 'Install FPM pools configuration for PHP ({{ php_versions | join(", ") }})'
  ansible.builtin.template:
    src: "fpm/php-fpm-pools.conf.j2"
    dest: "/etc/php/{{ item }}/fpm/pool.d/local-pool.cnf"
    owner: "root"
    group: "root"
    mode: "0644"
    trim_blocks: "no"
  vars:
    php_version: "{{ item }}"
  when: with_fpm|bool and with_fpm_config|bool and fpm_pools is defined and fpm_pools|length > 0
  register: php_versions_processed
  loop: "{{ php_versions }}"
  notify:
    - "Reload FPM for PHP"
  tags:
    - "web"
    - "php"

- name: "Install local PHP configuration overrides for PHP5 fpm"
  ansible.builtin.template:
    src: "php/php-config-web.ini.j2"
    dest: "/etc/php5/fpm/conf.d/99-local-config.ini"
    owner: "root"
    group: "root"
    mode: "0644"
  when: with_fpm|bool and item|float <= 5.0
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: 'Install local PHP configuration overrides for PHP ({{ php_versions | join(", ") }}) fpm'
  ansible.builtin.template:
    src: "php/php-config-web.ini.j2"
    dest: "/etc/php/{{ item }}/fpm/conf.d/99-local-config.ini"
    owner: "root"
    group: "root"
    mode: "0644"
  when: with_fpm|bool and item|float >= 5.6
  loop: "{{ php_versions }}"
  notify:
    - "Reload FPM for PHP"
  tags:
    - "web"
    - "php"

- name: "Install Apache2 config files for PHP FPM"
  ansible.builtin.template:
    src: "fpm/apache2/fpm-pool.conf.j2"
    dest: "/etc/apache2/conf-available/fpm-pool.conf"
    owner: "root"
    group: "root"
    mode: "0644"
  when: with_fpm|bool and with_apache2|bool
  tags:
    - "web"
    - "php"

- name: "Install Nginx config files for PHP FPM (servers pool)"
  ansible.builtin.template:
    src: "fpm/nginx/fpm-pool.conf.j2"
    dest: "/etc/nginx/conf.d/fpm-pool.conf"
    owner: "root"
    group: "root"
    mode: "0644"
  notify:
    - "Reload nginx"
  when: with_fpm|bool and with_nginx|bool
  tags:
    - "web"
    - "php"

- name: "Install Nginx config files for PHP FPM (fastcgi config)"
  ansible.builtin.template:
    src: "fpm/nginx/{{ item }}.j2"
    dest: "/etc/nginx/{{ item }}"
    owner: "root"
    group: "root"
    mode: "0644"
  with_items:
    - "fastcgi_pass_fpm_common"
    - "fastcgi_pass_fpm_custom"
    - "fastcgi_pass_fpm"
  notify:
    - "Reload nginx"
  when: with_fpm|bool and with_nginx|bool
  tags:
    - "web"
    - "php"

- name: "Update alternative to use PHP the right PHP version ({{ php_versions | first if php_versions|length > 0 }})"
  community.general.alternatives:
    name: "php"
    path: "/usr/bin/php{{ php_versions | first }}"

- name: "Ensure FPM for PHP5 is running"
  ansible.builtin.service:
    name: "php5-fpm"
    state: "started"
  when: with_fpm|bool and item|float <= 5.0
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"

- name: 'Ensure FPM for PHP ({{ php_versions | join(", ") }}) is running'
  ansible.builtin.service:
    name: "php{{ item }}-fpm"
    state: "started"
  when: with_fpm|bool and item|float >= 5.6
  loop: "{{ php_versions }}"
  tags:
    - "web"
    - "php"
