#!/bin/sh
{% if ansible_controlled is defined and ansible_controlled != "" %}
#
# {{ ansible_controlled }}
#
{% endif %}

hooks_dir="$(dirname "$(readlink -f "${0}")")/hooks"

if [ -d "${hooks_dir}" ]; then
    find "${hooks_dir}" -type f -executable | \
        while read script ; do
            "${script}" "$@"
        done
fi

exit 0
